* {
    color: #D9D9D9;
    font-family: 'Koh Santepheap';
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #1E1E1E;
    overflow-y: hidden;
}
header{
    display: flex;
    height: 10svh;
}
main{
    margin-left: 7.03125svw;
    margin-right: 7.03125svw;
    margin-top: 0.8173077svh;
    margin-bottom: 10.8173077svh;
    display: flex;
    flex-direction: column;
}
#sec-1{
    display: flex;
    column-gap: 2.34375svw;
    margin-bottom: 3.60576923svh;
}
#img-active{
    width: 57.34375svw;
    height: 58.1730769svh;
    background-image: url(https://github.com/VulpesLag0pus/Group-Project-Vulpes/blob/main/Vulpes/Python-Certificate.png?raw=true), no-repeat;
    border-radius: 15px;
}
#description-active{
    width: 26.25svw;
    height: 58.1730769svh;
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
}
#sec-2{
    display: flex;
    column-gap: 2.34375svw;
}
#repro-s{
    width: 26.171875svw;
    height: 19.1105769svh;
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
}
#img-inactive-1{
    width: 17.578125svw;
    height: 19.1105769svh;
    background-image: url(), no-repeat;
    border-radius: 15px;
}
#img-inactive-2{
    width: 17.578125svw;
    height: 19.1105769svh;
    background-image: url(), no-repeat;
    border-radius: 15px;
}
#img-inactive-3{
    width: 17.578125svw;
    height: 19.1105769svh;
    background-image: url(), no-repeat;
    border-radius: 15px;
}

#dot-1{
    width: 35px;
    height: 35px;
    margin-top: 24px;
    margin-left: 24px;
}
#dot-2{
    width: 30px;
    height: 30px;
    margin-top: 26.5px;
    margin-left: 12px;
}
#dot-3{
    width: 25px;
    height: 25px;
    margin-top: 29px;
    margin-left: 12px;
}
#dot-4{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    margin-top: 31.5px;
}
#wrap-dot-1 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-1:hover > a{
    width: 70px;
}
#wrap-dot-2 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-2:hover > a{
    width: 130px;
}
#wrap-dot-3 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-3:hover > a{
    width: 70px;
}
#wrap-dot-4 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-4:hover > a{
    width: 62px;
}
.dot{
    background-color: #D9D9D9;
    border-radius: 50%;
}
.wrap-dot{
    display: flex;
    overflow: hidden;
    gap: 5px;
    cursor: pointer;
}
