* {
    color: #D9D9D9;
    font-family: 'Koh Santepheap';
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #1E1E1E;
    overflow-y: hidden;
}
header{
    display: flex;
    height: 10svh;
}
#dot-1{
    width: 35px;
    height: 35px;
    margin-top: 24px;
    margin-left: 24px;
}
#dot-2{
    width: 30px;
    height: 30px;
    margin-top: 26.5px;
    margin-left: 12px;
}
#dot-3{
    width: 25px;
    height: 25px;
    margin-top: 29px;
    margin-left: 12px;
}
#dot-4{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    margin-top: 31.5px;
}
#wrap-dot-1 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-1:hover > a{
    width: 70px;
}
#wrap-dot-2 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-2:hover > a{
    width: 130px;
}
#wrap-dot-3 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-3:hover > a{
    width: 70px;
}
#wrap-dot-4 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-4:hover > a{
    width: 62px;
}
.dot{
    background-color: #D9D9D9;
    border-radius: 50%;
}
.wrap-dot{
    display: flex;
    overflow: hidden;
    gap: 5px;
    cursor: pointer;
}
h1{
    font-size: calc((7.03125svw + 10.8173077svh)/2);
    margin-left: 35px;
    margin-bottom: 0px;
    margin-top: 30px
}
p{
    width: 40svw;
    height: auto;
    margin-left: 35px;
    font-size: calc((1.953125svw + 3.00480769svh)/2.3);
    margin-bottom: 0;
    margin-top: 0;
}
iframe{
    margin-left: 35px;
    margin-top: 5svh;
    width: 40svw;
    height: auto
}
img{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 100svh;
    z-index: -100;
    width: 95svw;
}
#sport-name-1{
    position: absolute;
    bottom: 205svw;
    transform: translateY(-50%);
}