* {
    color: #D9D9D9;
    font-family: 'Koh Santepheap';
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #1E1E1E;
    overflow: hidden;
}
header{
    display: flex;
    height: 10svh;
    position: absolute;
    z-index: 100;
}
#dot-1{
    width: 35px;
    height: 35px;
    margin-top: 24px;
    margin-left: 24px;
}
#dot-2{
    width: 30px;
    height: 30px;
    margin-top: 26.5px;
    margin-left: 12px;
}
#dot-3{
    width: 25px;
    height: 25px;
    margin-top: 29px;
    margin-left: 12px;
}
#dot-4{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    margin-top: 31.5px;
}
#wrap-dot-1 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-1:hover > a{
    width: 70px;
}
#wrap-dot-2 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-2:hover > a{
    width: 130px;
}
#wrap-dot-3 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-3:hover > a{
    width: 70px;
}
#wrap-dot-4 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-4:hover > a{
    width: 62px;
}
.dot{
    background-color: #D9D9D9;
    border-radius: 50%;
}
.wrap-dot{
    display: flex;
    overflow: hidden;
    gap: 5px;
    cursor: pointer;
}
.sport-img{
    filter: brightness(100);
    width: 60svw;
    height: 90svh;
    margin-bottom: 10svh;
}
.sport-des{
    width: 30svw;
    margin-left: 10svw;
    margin-top: auto;
    margin-bottom: auto;
}
.main-sec{
    display: flex;
    width: 100svw;
    height: 100%;
    transform: translateY(-5%);
}
.wrapper{
    height: 100svh;
    width: 100svw;
}
p{
    font-size: calc((1.953125svw + 3.00480769svh)/2.3);
}
span{
    color: #B8DAE7;
}
#sport-1{
    position: absolute;
    left: -100svw;
    top: 20svh;
}
#sport-2{
    position: absolute;
    left: 0svw;
}
#sport-3{
    position: absolute;
    left: 100svw;
    top: 20svh;
}
#bottom{
    position: absolute;
    display: flex;
    gap: 10svw;
    bottom: 8svh;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}