* {
    color: #D9D9D9;
    font-family: 'Koh Santepheap';
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #1E1E1E;
    overflow-y: hidden;
}
header{
    display: flex;
    height: 10svh;
}
h1 > span {
    color: #B8DAE7;
}
h1 {
    font-size: calc((7.3125svw + 10.8173077svh)/2);
    width: 44svw;
    margin-left: 40px;
    margin-bottom: 20px;
}
p{
    width: 39svw;
    font-size: calc((1.953125svw + 3.00480769svh)/2);
    margin-left: 40px;
    position: relative;
}
main {
    display: flex;
    align-items: center;
    width: 100svw;
}
img {
    width: 50svw;
    height: 60svw;
    margin-left: 45svw;
    margin-right: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#dot-1{
    width: 35px;
    height: 35px;
    margin-top: 24px;
    margin-left: 24px;
}
#dot-2{
    width: 30px;
    height: 30px;
    margin-top: 26.5px;
    margin-left: 12px;
}
#dot-3{
    width: 25px;
    height: 25px;
    margin-top: 29px;
    margin-left: 12px;
}
#dot-4{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    margin-top: 31.5px;
}
#wrap-dot-1 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-1:hover > a{
    width: 70px;
}
#wrap-dot-2 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-2:hover > a{
    width: 130px;
}
#wrap-dot-3 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-3:hover > a{
    width: 70px;
}
#wrap-dot-4 > a{
    margin-top: 6px;
    width: 0px;
    transition: all .5s ease-in-out;
}
#wrap-dot-4:hover > a{
    width: 62px;
}
#images > a{
    text-decoration: none;
    background: transparent;
    font-size: 35px;
    z-index: 100;
}
#git{
    top: 24px;
    right: 24px;
    position: absolute;
}
#linkedin{
    top: 73px;
    right: 24px;
    position: absolute;
}
#insta{
    top: 122px;
    right: 24px;
    position: absolute;
}
#x{
    top: 171px;
    right: 24px;
    position: absolute;
}
#typing-cursor{
    display: inline-block;
    width: 4px;
    height: calc((7.3125svw + 10.8173077svh)/2);
    background-color: #D9D9D9;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
    padding-top: 8px;
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }
.dot{
    background-color: #D9D9D9;
    border-radius: 50%;
}
.wrap-dot{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 5px;
    cursor: pointer;
}
#arrow-back-wrap{
    position: absolute;
    bottom: 32px;
    left: 32px;
}
main > section{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
 